html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--color-text_white);
    font-family: Roboto;
}

section {
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

button,
a {
    cursor: pointer;
}

button,
a,
img {
    margin: 0;
    padding: 0;
    border-style: none;
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --color-ohre-dark: #B4604D;
    --color-olive: #A9AE8D;
    --color-text_white: #F6F4EC;
    --color-ohre-med: #B45F4D;
    --color-ohre-pre-light: #DF9B7A;
    --color-ohre-light: #F1D3B9;
}


/* STICKY */

.sticky {
    background-color: var(--color-ohre-dark);
    /* position: sticky;
    top: 0;
    z-index: 2; */
}

.sticky_btn {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 47px;
    background-color: var(--color-ohre-dark);
}

.sticky_link {
    color: #F1D3B9;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.2px;
}

/* MAIN MENU */

.menu {
    background-color: var(--color-text_white);
    /* position: sticky;
    top: 47px;
    z-index: 3; */
}


.menu__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_burger {
    display: none;
}

.menu__ul_1 {
    display: flex;
    column-gap: 28px;
}

.menu__list1 {}

.menu__list_link,
.menu_acc_link,
.counter {
    color: #B4604D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    text-transform: capitalize;
}

.menu__list_link:hover,
.menu_acc_link:hover {
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.dae_logo {
    display: inline-block;
    transform: translate(-90%);
    margin: 5px 0;
}

.dae_logo2 {
    display: none;
}

.menu__2 {
    display: flex;
}

.bag_flex {
    display: flex;
    align-items: center;
}

.menu_acc_link {
    margin-right: 15px;
}

.menu_bag {
    margin-right: 5px;
}

/* HEADER */

.header {
    min-height: 435px;
    background-image: url(../img/Frame_main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 330px;
}

.button_shop {
    display: block;
    margin: 0 auto;
    width: 128px;
    height: 48px;
    flex-shrink: 0;
    background-color: var(--color-ohre-dark);
}

.shop_link {
    color: var(--color-text_white);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    text-transform: uppercase;
}

/* READY */
.ready {
    background-color: var(--color-olive);
    color: var(--color-text_white);
    min-height: 304px;
}

.ready__flex {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 70px 0 0 45px;
}

.p_ready1 {
    text-transform: uppercase;
    font-size: 18px;
}

.P_ready2 {
    font-size: 33px;
}

.ready .shop_link {
    display: block;
    text-transform: capitalize;
}

/* PICK */
.pick {}

.h1__pick {
    color: var(--color-ohre-med);
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 39.2px;
    text-transform: capitalize;
    padding: 40px 0;
}

.pick__flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pick__flex_box {
    margin-bottom: 10px;
}

.pick_img {
    margin-bottom: 10px;
    width: 100%;
}

.p__itemname,
.p__price {
    color: var(--color-ohre-med);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}

/* FEEL */
.feel {
    background-color: #fff;
    padding: 24px 0 50px;

}

.feel_block {
    margin: 0 auto;
    max-width: 1219px;
    min-height: 414px;
    background-image: url(../img/feel_img.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feel_flex {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-ohre-pre-light);
    padding: 30px;
    flex-wrap: wrap;
}

.p__feel {
    color: #F6F4EC;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    padding-right: 20px;
}

.shop_link {
    text-transform: capitalize;
    font-size: 18px;
}

/* MEET */
.meet {
    background-color: var(--color-ohre-light);
    padding: 61px 0;
}

.meet__block {
    background-image: url(../img/meet_girl.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    margin: 0 142px 0 168px;
    height: 947px;
    padding-right: 20px;
}

.meet_info {
    background-color: #fff;
    max-width: 518px;
    padding: 50px;
    position: relative;
    top: 24%;
    left: 53%;
}

.h2__meet {
    text-align: center;
    margin-bottom: 22px;
    color: var(--color-ohre-med);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 57.6px;
}

.p__meet {
    margin-bottom: 41px;
    color: var(--color-ohre-med);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.meet_info .shop_link {
    color: var(--color-ohre-med);
}

/* GALLERY */

.gallery {
    background-color: #fff;
}

.h2__gallery {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 48px;
}

.follow {
    color: #000;
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 39.2px;
    text-transform: capitalize;
}

.gallery_flex {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    column-gap: 6px;
    padding: 0 5px;
    flex-wrap: wrap;
}

.gallery_image {
    display: block;
}


/* FOOTER */
.footer {
    padding-top: 60px;
    background-color: var(--color-text_white);
    color: var(--color-ohre-med);
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_left {
    max-width: 315px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    padding-right: 20px;
    padding-bottom: 120px;
    flex-wrap: wrap;
}

.footer_ul {
    list-style: none;
}

.footer_ul_list {
    margin-bottom: 12px;
}

.footer_link {
    color: var(--color-ohre-med);
}

.footer_p1 {
    padding-bottom: 40px;
}

.p_only {
    margin-bottom: 20px;
}

.footer_right {
    padding-bottom: 30px;
}